@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

/* global css */
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card{
  width: 24rem;
  max-width: 30rem;
  min-height: 20rem;
  background-color: #1c2042;
  color: white;
  padding:0.5rem 1.25rem;
  border-radius: 10px;
}

.title{
text-align: center;
margin: 1rem auto;
font-size: 1.5rem;
}

label,input{
  display: block;
  width: 100%;
  margin: 0.5rem auto;
}

label{
  font-size: 1.25rem;
  font-weight: 500;
}

input{
  padding: 0.5rem 0.8rem;
}

.btn-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
}